.navbar {
  padding: 20px;
  height: 100%;
}

.logo {
  padding-bottom: 16px;
}

.linkStack {
  display: flex;
  flex-direction: column;
}

.navbarFooter {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
